@charset "utf-8";
/* CSS Document */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
	font-family: 'Muli', sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*********************************/
@font-face {
  font-family: 'Oswald-Regular';
  src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Oswald-Regular.woff') format('woff'), url('../fonts/Oswald-Regular.ttf')  format('truetype'), url('../fonts/Oswald-Regular.svg#Oswald-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*********************************/

.fixed-bg1 {
	background-attachment: fixed;
    background-image: url("../image/login-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    min-height: 100%;
    position: fixed;
    width: 100%;
}
.fixed-bg {
	background-attachment: fixed;
    background-image: url("../image/login-bg1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;       
    width: 100%;
}
.wrapper {
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.login-p-logo {
	 float: left;
    margin-top: 35px;
    width: 100%;
}
.login-p-logo a {
	text-align:left;
	text-decoration:none;
	float:left;
	width:auto;
}
.login-p-logo a img {
}
.login {
	float: left;
    padding: 65px 0;
    width: 100%;
}
.login-form {
	width:40%;
	margin-left:auto;
	margin-right:auto;
}
.form-title {
	width:100%;
	float:left;
}
.form-title h2{
	width:100%;
	float:left;
	text-align:left;
	color:#fff;
	font-size:26px;
	font-weight:bold;
	padding-bottom:25px;
	text-transform: uppercase;
}
.login-form form {
	width:100%;
	float:left;
}
.login-form form ul {
	margin:0;
	padding:0;
	list-style-type:none;	
}
.login-form form ul li {
	display:block;
	float:left;
	width:100%;
	margin-bottom:16px;
}

.login-form form ul li input[type="text"]{
	border:2px solid #939393;
	padding:18px 4.5%;
	width:90%;
	float:left;
	font-size:18px;	
	background: #353535 none repeat scroll 0 0;
	color:#fff;
	/*text-transform: capitalize;*/
	border-radius: 2px;
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
.login-form form ul li input[type="password"]{
	border:2px solid #939393;
	padding:18px 4.5%;
	width:90%;
	float:left;
	font-size:18px;	
	background: #353535 none repeat scroll 0 0;
	color:#fff;
	/*text-transform: capitalize;*/
	border-radius: 2px;
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
.login-form form ul li input[type="button"] {
	background:#fe6663;
	padding:12px 0px;
	color:#fff;
	text-align:center;
	width:100%;
	float:left;
	font-size:26px;
	font-family: 'Oswald-Regular';
	font:400;	
	border:none;
	text-transform: uppercase;
	border-radius: 2px;
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
.login-form form ul li a {
	color:#ff5852;
	font-size:15px;
	text-align:center;
	width:100%;
	float:left;
	text-transform: capitalize;
	text-decoration:none;
	margin-top:10px;	
}
.whole-form {
	background: #353535 none repeat scroll 0 0;
    float: left;
    padding: 8%;
    width: 84%;
}

#contact_results {
	width:100%;
	float:left;
}
.error {
	color:red;
	font-size:15px;
	padding-bottom:5px;
}
.success {
	color:#0ad50f;
	font-size:15px;
	padding-bottom:5px;
}


.logo {
	float: left;
    padding: 20px 0;
    width: 100%;
}
.logo a {
	 color: #fff;
    font-size: 25px;
    text-decoration: none;
}
.d-bg-color {
	background-color:#666;
}
.breadcrumb {
	float: left;
    padding: 15px 0;
    width: 100%;
}
.breadcrumb ul {
	display:block;
	list-style-type:none;
}
.breadcrumb ul li {
	display:inline-block;
}
.breadcrumb ul li a {
	color:#fff;
	font-size:16px;
}

.d-heading {
	width:100%;
	float:left;
	background-color:#CCC;
	
}
.d-heading h2 {
	color: #333;
    float: left;
    font-size: 26px;
    margin-left: 20px;
    padding: 25px 0;
    text-align: left;
    text-transform: uppercase;
    width: auto;
}
.d-categories {
	background: #adaaaa none repeat scroll 0 0;
    float: left;
    margin-top: 10px;
    padding: 20px 3%;
    width: 94%;
}
.d-categories ol {
	margin-left: 20px;
}
.d-categories ol li {
	margin-bottom:15px;
}
.d-categories ol li a {
	color: #000;
    font-size: 18px;
    font-weight: 400;
    text-decoration:none;
    text-transform: capitalize;
	cursor:pointer;
}
.d-categories ol li a:hover {
	 text-decoration: underline;
}
.project-details {
	background: #adaaaa none repeat scroll 0 0;
    float: left;
    margin-top: 10px;
    padding: 20px 2%;
    width: 96%;
}
.project-details p {
	color: #000;
    line-height: 22px;
}













/***********/
@media only screen and (max-width : 1230px){
	.login-form {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
}
@media only screen and (max-width : 1024px){
	.login-form {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

}
@media only screen and (max-width : 768px){
	.login-form {
    margin-left: auto;
    margin-right: auto;
    width: 96%;
}
}
@media only screen and (max-width : 480px){
	.login-form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
}
@media (max-width : 320px) {
	.login-form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
}